# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore all node_modules directories and their contents
**/node_modules/
.next/

package-lock.json
.env.local
